# Next.js / Node
node_modules/
.next/
dist/
out/

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editor
.vscode/
.idea/

# OS files
.DS_Store

# TypeScript
*.tsbuildinfo

# Cache
.turbo/
.cache/
