@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@keyframes bounce {
  0%, 100% { 
    transform: translateY(0); 
  }
  50% { 
    transform: translateY(-10px); 
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes leafFall {
  0% {
    transform: translateY(-10%) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.leaf {
  position: absolute;
  top: -10%;
  animation-name: leafFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
